
@{
    ViewBag.Title = "Index";
}

<h2>MG</h2>
<style>
</style>
<html>
<body>
    <h1 id="h">hiiiiii</h1>
    <form>
        
        <input type="button" id="b1" value="Search" />
        <table id="tb1" border="1"></table>
    </form>
    <script src="~/Scripts/jquery-3.4.1.js">

    </script>
    <script>
        $("#b1").click(f1);
        function f1() {            
            $.ajax({
                url: "/api/New" ,
                type: "GET",
                success: f2,
                error: f3
            })
        }
        function f2(response) {
            $("#tb1").html("<tr><th>Emp ID</th><th>Emp Name</th><th> Emp Salary</th></tr>");
            for (var i = 0; i < response.length; i++) {
                $("#tb1").append("<tr><td>" + response[i].EmpID + "</td><td>" + response[i].EmpName + "</td><td>" + response
                [i].Salary + "</td></tr>");
            }
        }
        function f3(ab) {
            alert($("#h").text());
        }
    </script>
</body>
</html>