
@{
    ViewBag.Title = "GetData";
}
<table border="2">
 <tr>
     <th>eno</th>
     <th>ename</th>
     <th>sal</th>
 </tr>
    @foreach(var b in ViewBag.s)
            {
                <tr>
                    <td>@b.eno</td>
                    <td>@b.ename</td>
                    <td>@b.sal</td>
                </tr>
            }
</table>

<h2>GetData</h2>

