
@{
    ViewBag.Title = "About";
}
<style type="text/css">
    h2 {
        color: yellow;
        background-color: black;
        text-align: center;
        border:2px solid green;
        font-family:Castellar;
        font-size:50px;
        margin:20px;
    }
</style>
<h2>About What</h2>

