
@{
    ViewBag.Title = "Contact";
}

<style type="text/css">
    h1{
        color: white;
        background-color:black;
        text-align:center;
    }
    h2{
        color:green;
        background-color:aqua;
        text-align:center;
    }
</style>
<h1>
    Mjrrjekfnjrtkikrjirfjfvhujhrefjufshrjunrf
</h1>
<h2>
    frhcjijrke
</h2>