
@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    h1{
     text-align:center;
     color:red;
     border:10;
     background-color:green;
     text-justify:newspaper ;
    
    }
</style>

<h1>
  Welcome to Home Page
</h1>

