@Model mvc_13_homework.Models.Emp;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    @Html.LabelFor(e => e.eid)
    </div>
</body>
</html>
