
@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>
<html>
<body>
    <form>
        ExistingEmp ID:<input type="text" id="txt1" /><br />
        Emp Name:<input type="text" id="txt2" /><br />
        Salary:<input type="text" id="txt3">
            <br />
            <input type="submit" id="b1" value="Update" />
            <div id="div1"></div>
    </form>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        $("#b1").click(f1);
        function f1(event) {
            event.preventDefault();
            var insert = { "EmpID": $("#tb1").val(), "EmpName": $("#tb2").val(), "Salary": $("#tb3").val() };
            $.ajax({
                url: "/Emp/Update",
                type: "POST",
                data: insert,
                success: f2,
                error: f3
            });
        }
        function f2(response) {
            $("#div1").html(response);
        }
        function f3(xhr) {
            aler(xhr.responseText);
        }
    </script>
</body>
</html>
