@model List<mvc13.Models.Job>
@{
    ViewBag.Title = "ShowJobs";
}

<h2>
    <ul>
    @foreach(var item in Model)
            {
                <li> item.id </li>
                <li> item.name </li>
            }
        </ul>
</h2>

